.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #343d4b;
  color: #1a1e23;
}

#main-card {
  width: 300px;
  height: 400px;
  background-color: #6e79d3;
  border-radius: 25px;
  box-sizing: border-box perspective(1500px) rotateY(10deg);
  background-image: url("https://i.pinimg.com/originals/c7/de/f4/c7def42cf691a9bd359c6a1a218d1f54.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #fff;
  opacity: 0.8;
}
#main-card:hover {
  box-sizing: border-box perspective(1500px) rotateY(10deg);
  transform: scale(1.1) perspective(1500px) rotateY(10deg);
}
.display-1 {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}
.card-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.input-group .form-control {
  border-radius: 25px;
  border: 1px solid #fff;
}
.btn {
  border-radius: 0 25px 25px 0;
}
